body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.elemento {
    height: 50%;
    width: 500px;
    margin: 20px;
}